@import "tailwindcss";

.text-glow{
    text-shadow: 0 0 5px rgb(50, 50, 150), 0 0 10px rgb(59, 59, 145) , 0 0 15px rgb(52, 52, 145)
}
.fast-spin{
    animation: spin 0.2s linear infinite;
}
.Custom-trans{
    transition: transform 2s ease-in-out;
}
.outline-text {
    -webkit-text-stroke : 1.7px white ;
}
html,body{
    @apply overflow-x-hidden overscroll-none;
    /* @apply min-h-fit */
}